<!--
 <include file="$(find world_model)/launch/world_model.launch"> </include>
-->

<launch>
  <include file="$(find omni_vision)/launch/omni_vision.launch"> </include>
  <include file="$(find front_vision)/launch/front_vision.launch"> </include>

  <include file="$(find world_model)/launch/world_model.launch"> </include>


  <include file="$(find nubot_hwcontroller)/launch/nubot_hwcontroller.launch"> </include> 

  <include file="$(find nubot_formation)/launch/nubot_formation.launch"> </include>
</launch>
